body {
    color: #cfcb91;
}

h1 {
    text-align: center;
    color: #e8982e;
}

.caixa {
    border: 10px solid #e8dc2e;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    margin: auto;
    background: url('../img/trophy.png') center center no-repeat;
    background-size: 100%;
}

p {
    text-align: center;
    margin-top: 170px;
    color: black;
    font-size: 150px;
}